:root {
  /* --deep-color: #A973FF; //good */
  /* --deep-color: #6237A0; */
  --deep-color: #8B3EFF;
  --mid-color: #9357FF;
  /* --mid-color: #D2AFFF; */
  --light-color: #E7D1FF;

  --ligth-grey: #F0F0F0;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  height: 100%;

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
